<!doctype html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="container">
      {{ content }}
    </div>

    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "88c5c1560410493bbf8a564d1717d634"}'>
    </script>

    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-54922239-1','auto');ga('send','pageview');
    </script>
  </body>
</html>
